* {
border: none;
border-radius: 9999px; /* pill-shaped */
min-height: 0;
font-family: "JetBrainsMono Nerd Font", monospace;
/* font-family: "Ubuntu", monospace; */
font-weight: bold;
/* font-weight: normal; */
font-size: 15px;
padding: 0;
}

window#waybar {
  background: #24273a;
  /* background: transparent; */
  border: none;
  border-radius: 0px;
  margin: 6px;
}

/* Tooltip */
tooltip {
  background-color: #1f1d2e;
  border: 2px solid #524f67;
  border-radius: 50px;

}

tooltip box {
  padding: 20px 20px;
}

/* Common pill shape and spacing for modules including hyprland window */
#clock,
#tray,
#cpu,
#memory,
#language,
#network,
#pulseaudio,
#custom-launcher,
#hyprland-window {
margin: 4px;
padding: 4px 10px; /* slightly smaller */
border-radius: 9999px;
color: #FFFFFF;
}

/* Launcher */
#custom-launcher {
background-color: #191724;
border: 2px none #403d52;
color: #FFFFFF;
}

/* Weather widget*/
#custom-weather {
  background-color: #191724;
  border: 2px none #403d52;
  margin: 4px;
  padding: 4px 10px;
  border-radius: 9999px;
  color: #FFFFFF;
}

/* Workspaces container */
#workspaces,
#window {
background-color: #81c8be;
margin: 4px;
border: 2px none #403d52;
padding: 2px 6px;
border-radius: 9999px;
}

/* Workspace buttons */
#workspaces button {
all: initial;
padding: 2px 6px;
margin: 1px;
color: #191724;
border-radius: 9999px;
font-size: 10px;
}

/* Active and urgent workspaces */
#workspaces button.active {
/* color: #eb6f92; */
color: #f38ba8;
}

#workspaces button.urgent {
color: #FF0000;
}

#window {
background-color: #f4b8e4;
border: 2px none #403d52;
color: #191724;

}


/* Individual module styles */
#clock {
background-color: #ca9ee6;
border: 2px none #403d52;
color: #191724;
}

#tray {
background-color: #a6da95;
border: none;

}


/* #cpu, */
/* #memory, */
/* #network, */ 
#language,
/* #pulseaudio,*/ 
#hyprland-window {
background-color: #ed8796;
border: 2px none #403d52;
color:  #191724; 

}

#cpu {
background-color: #8bd5ca;
border: 2px none #403d52;
color: #191724;

}

#memory {
background-color: #dc8a78;
border: 2px none #403d52;
color: #191724;

}

#pulseaudio {
background-color: #8aadf4;
border: 2px none #403d52;
color: #191724;

}

#network {
background-color: #f9e2af;
border: 2px none #403d52;
color: #191724;

}


#custom-gpu {
  background-color: #f5c2e7; 
 /* border: 3px solid #313244; */
  margin: 4px;
  padding: 4px 10px;
  border-radius: 9999px;
  color: #191724;
}

